.block-lost-password {
    padding: 60px 0px;

    // Breakpoints
    @include respond-to($phone) {
        padding: 30px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 30px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 30px 0px;
    }

    @include respond-to($medium-large) {
        padding: 30px 0px;
    }

    h2 {
        text-align: center;
    }

    p {
        margin-bottom: 30px;
    }
}