.container-banner-main {
    margin-bottom: 60px;

    // Breakpoints
    @include respond-to($phone) {
        margin-bottom: 30px;
    }

    @include respond-to($phone-tablet) {
        margin-bottom: 30px;
    }

    @include respond-to($tablet-medium) {
        margin-bottom: 30px;
    }

    @include respond-to($medium-large) {
        margin-bottom: 30px;
    }

    .img-fluid {
        width: 100%;
    }
}

.container-banner-discount {
    margin-bottom: 20px;

    // Breakpoints
    @include respond-to($phone) {
        margin-bottom: 40px;
    }

    @include respond-to($phone-tablet) {
        margin-bottom: 40px;
    }

    @include respond-to($tablet-medium) {
        margin-bottom: 40px;
    }

    @include respond-to($medium-large) {
        margin-bottom: 40px;
    }

    .img-fluid {
        width: 100%;
    }
}