.block-default {
    padding: 55px 0px;

    // Breakpoints
    @include respond-to($phone) {
        padding: 0px 0px 30px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 30px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 30px 0px;
    }

    @include respond-to($medium-large) {
        padding: 30px 0px;
    }

    h1 {
        width: 100%;
        margin-bottom: 14px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        line-height: 38px;
        font-weight: 700;
        font-size: 28px;
        color: $color-primary;
    }

    p {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 0;
        line-height: 20px;
        font-size: 16px;
        color: $color-third;
    }

    ul {
        width: 100%;
        margin-bottom: 0px;
        padding-left: 0px;
        list-style: none;

        li {
            margin-bottom: 9px;

            &:last-child {
                margin-bottom: 0px;
            }
            
            .btn {
                width: 100%;
            }
        }
    }

    .container-image {
        min-height: 477px;

        // Breakpoints
        @include respond-to($phone) {
            width: calc(100% + 20px);
            min-height: 255px;
            margin-left: -10px;
            margin-bottom: 20px;
        }

        @include respond-to($phone-tablet) {
            min-height: 255px;
            margin-bottom: 20px;
        }

        @include respond-to($tablet-medium) {
            min-height: 255px;
            margin-bottom: 20px;
        }

        @include respond-to($medium-large) {
            min-height: 255px;
            margin-bottom: 20px;
        }
    }
}