.block-fidelia-main {
    padding: 60px 0px;

    // Breakpoints
    @include respond-to($phone) {
        padding: 25px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 25px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 25px 0px;
    }

    @include respond-to($medium-large) {
        padding: 25px 0px;
    }

    h1 {
        width: 100%;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 40px;
        font-weight: 900;
        font-size: 28px;
        color: $color-secondary;

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 20px;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 23px;
            font-size: 16px;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 20px;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 23px;
            font-size: 16px;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 20px;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 23px;
            font-size: 16px;
        }

        @include respond-to($medium-large) {
            margin-bottom: 20px;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 23px;
            font-size: 16px;
        }
    }

    small {
        width: 100%;
        margin-bottom: 24px;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
        color: #000000;

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 45px;
            text-align: center;
            line-height: 18px;
            font-size: 14px;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 45px;
            text-align: center;
            line-height: 18px;
            font-size: 14px;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 45px;
            text-align: center;
            line-height: 18px;
            font-size: 14px;
        }

        @include respond-to($medium-large) {
            margin-bottom: 45px;
            text-align: center;
            line-height: 18px;
            font-size: 14px;
        }
    }

    .img-fluid{ 
        width: 100%;
        max-width: 400px;
    }

    ul {
        margin-bottom: 0px;
        padding-left: 0px;
        list-style: none;

        li {
            width: 100%;
            margin-bottom: 12px;
            padding: 15px 15px 15px 36px;
            position: relative;
            border: 0.5px solid $color-secondary;
            letter-spacing: 0;
            line-height: 20px;
            font-size: 15px;
            color: $color-fourth;
            opacity: 0.9;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            // Breakpoints
            @include respond-to($phone) {
                padding: 15px;
            }

            @include respond-to($phone-tablet) {
                padding: 15px;
            }

            @include respond-to($tablet-medium) {
                padding: 15px;
            }

            @include respond-to($medium-large) {
                padding: 15px;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            &::before {
                width: 42px;
                height: 42px;
                top: calc(50% - 21px);
                left: -21px;
                position: absolute;
                background: transparent url('../img/fidelia-icon.png') left center / 100% 100% no-repeat;
                content: "";

                // Breakpoints
                @include respond-to($phone) {
                    width: 30px;
                    height: 30px;
                    top: -20px;
                    left: calc(50% - 15px);
                }

                @include respond-to($phone-tablet) {
                    width: 30px;
                    height: 30px;
                    top: -20px;
                    left: calc(50% - 15px);
                }

                @include respond-to($tablet-medium) {
                    width: 30px;
                    height: 30px;
                    top: -20px;
                    left: calc(50% - 15px);
                }

                @include respond-to($medium-large) {
                    width: 30px;
                    height: 30px;
                    top: -20px;
                    left: calc(50% - 15px);
                }
            }
        }
    }
}